* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body-text {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  opacity: 70%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.nav-links li {
  list-style: none;
}
.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 20px;
}
.nav-links {
  color: white;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 18px;
  padding: 14px 16px;
}
.nav-links li a:hover:not(.active) {
  background-color: transparent;
}
.nav-links li a.active {
  background-color: transparent;
}
nav ul li a {
  color: white;
}
a {
  text-decoration: none;
}
form {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  list-style: none;
  text-decoration: none;
  background-color: black;
  opacity: 70%;
}
.footer li a {
  color: white;
}
.footer ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}
body {
  background-image: url(./media/classroom.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
